{{ header }}
<div id="wrapper">
	<div class="container  ttv-left-layout">
		<div class="row">
			{{ column_left }}
			{% if column_left and column_right %}
			{% set class = 'col-xl-8 col-lg-12 col-md-12 col-sm-12 col-xs-12' %}
			{% elseif column_left or column_right %}
			{% set class = 'col-xl-10 col-lg-12 col-md-12 col-sm-12 col-xs-12' %}
			{% else %}
			{% set class = 'col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12' %}
			{% endif %}
			<div id="content-wrapper" class="left-column {{ class }}" style="z-index: 1 !important;">
				<div id="content" class="page-home">
					{{ content_top }}
				</div>					
			</div>
			{{ column_right }}
		</div>
	</div>
	<div>
		{{ content_bottom }}
	</div>
</div>
{{ footer }}
</footer>
