{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <!-- <div class="pull-right">
        <button type="button" id="button-setting" title="{{ button_setting }}" data-loading-text="{{ text_loading }}" class="btn btn-info"><i class="fa fa-cog"></i></button>
      </div> -->
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">{% if error_install %}
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="close pull-right" data-dismiss="alert">&times;</button>
      <i class="fa fa-exclamation-circle"></i> {{ error_install }}</div>
    {% endif %}
    {% for row in rows %}
    <div class="row">{% for dashboard_1 in row %}
      {% set class = 'col-lg-%s %s'|format(dashboard_1.width, 'col-md-3 col-sm-6') %}
      {% for dashboard_2 in row %}
      {% if dashboard_2.width > 3 %}
      {% set class = 'col-lg-%s %s'|format(dashboard_1.width, 'col-md-12 col-sm-12') %}
      {% endif %}
      {% endfor %}
      <div class="{{ class }}">{{ dashboard_1.output }}</div>
      {% endfor %}</div>
    {% endfor %}</div>
    {{ security }}

</div>
{{ footer }}